ul {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 90px;
    height: 90px;
    font-family: sans-serif;
    font-size: 85px;
    margin: 3px;
    background-color: lightblue;
    list-style: none;
    text-align: center;
}